.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    width: var(--default-layout-width);
}
.content {
    flex: 1;
    min-height: 1000px;
}
